body {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  #container {
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1000px;
    margin: 0 auto;
  }

  #thumbnail {
    position: relative;
    max-width: 1000px;
    padding-left: 0px;
    margin: 0 auto;
  }
  
  /* .holder {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  } */
  
  .holder::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide the images by default */
  .slides {
    display: none;
    /* max-width: 1000px; */
    /* width: 100%;
    flex-shrink: 0;
    height: 100%; */
  }
  
  .slides img {
    width: 100%;
    height: 700px;
  }
  
  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (max-width: 600px) {
    .prevContainer,
    .nextContainer {
      display: none;
      visibility: hidden;
    }
  }
  
  .prevContainer,
  .nextContainer {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 35%;
    transform: translate(0, calc(-50% - 54px));
    height: 54px;
    width: 54px;
    cursor: pointer;
  }
  
  .prevContainer {
    margin-left: 26px;
    left: 0;
    border-radius: 30px 0 0 30px;
  }
  
  .prev {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: 34px;
    width: 32px;
    float: left;
    margin-left: 12px
  }
  
  .prev svg,
  .next svg {
    fill: white;
  }
  
  .nextContainer {
    margin-right: 26px;
    right: 0;
    border-radius: 0 30px 30px 0;
  }
  
  .next {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    height: 34px;
    width: 32px;
    float: right;
    margin-right: 12px;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: left;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }

  .row {
      width: 100%;
      /* flex-wrap: nowrap; */
      margin-top: 20px;
  }

  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumbnail images */
  .slide-thumbnail {
    width: 100%;
    height: 100px;
    opacity: 0.6;
    cursor: pointer;
  }
  
  .active,
  .slide-thumbnail:hover {
    opacity: 1;
  }