{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Buy Lenovo IdeaPad Slim 3 (2021) | AMD Ryzen 5 |14" FHD IPS |Thin and Light Laptop | 4-Side Narrow Bezel (8GB/512GB SSD/Win10/MS Office 2019/Backlit KB/Fingerprint Reader/Arctic Grey/1.41Kg), 82KT00BXIN Online at Low Prices in India - Amazon.in</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'css/az_product.css' %}">
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
</head>
<body>

    <!-- First Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid" style="width: 100%;">
            <img id="logo" src="{% static 'images/logo.png' %}" alt="logo">
            <label type="button" class="btn marker"><i class="fal fa-map-marker-alt"></i></label>
            <div id="glow-ingress-block" style="width: 22%;">
                <span id="glow-ingress-line1" class="nav-line-1 nav-progressive-content">Hello</span><br>
                <span id="glow-ingress-line2" class="nav-line-1 nav-progressive-content">Select your address</span>
            </div>
            
            <div class="input-group" style="width: 60%;">
                <button class="btn dropdown-toggle filter_padding" type="button" id="filter_menu" data-bs-toggle="dropdown" aria-expanded="false">Computer & Accessories</button>
                <input id="search" class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button id="search_img" class="btn btn-warning" type="button">
                    <img src="{% static 'images/search.svg' %}" id="input_img">
                </button>
                <br>
            </div>
            &nbsp;&nbsp;
            <div id="glow-ingress-block" style="width: 5%;">
                <span id="glow-ingress-line2" style="font-weight: bold;" data-bs-toggle="dropdown" aria-expanded="false" class="nav-line-1 nav-progressive-content dropdown-toggle"><img src="{% static 'images/india_flag.png' %}" id="flag_img"></span>
            </div>
            <div id="glow-ingress-block" style="width: 20%;">
                <span id="glow-ingress-line1" class="nav-line-1 nav-progressive-content">Hello, Sign in</span><br>
                <span id="glow-ingress-line2" style="font-weight: bold;" data-bs-toggle="dropdown" aria-expanded="false" class="nav-line-1 nav-progressive-content dropdown-toggle">Accounts & Lists</span>
            </div>
            <div id="glow-ingress-block" style="width: 10%;">
                <span id="glow-ingress-line1" class="nav-line-1 nav-progressive-content">Returns</span><br>
                <span id="glow-ingress-line2" style="font-weight: bold;" class="nav-line-1 nav-progressive-content">& Orders</span>
            </div>
            <div id="glow-ingress-block" style="width: 10%;">
                <img src="{% static 'images/cart.png' %}" id="cart_img">
                <b>Cart</b>
            </div>
        </div>
    </nav>

    <!-- Second Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link"href="#"><i class="fas fa-bars"></i> all</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Mobiles</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Best Sellers</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Fashion</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Electronics</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Customer Service</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Amazon Pay</a></li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Prime</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Today's Deals</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">New Releases</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Computers</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Home & Kitchen</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Books</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Toys & Games</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Coupons</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Third Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#"><b>Electronics</b></a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Mobile & Accessories</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Laptop & Accessories</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">TV & Home Entertainment</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Audios</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Cameras</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Computer & Peripherals</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Smart Technology</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Musical Instruments</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Office & Stationery</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <p> &nbsp; &lsaquo; Back to results</p>

    <!-- Title Section -->
    <div class="container">
        <p id="title">Lenovo IdeaPad Slim 3 (2021) | AMD Ryzen 5 |14" FHD IPS |Thin and Light Laptop | 4-Side Narrow Bezel (8GB/512GB SSD/Win10/MS Office 2019/Backlit KB/Fingerprint Reader/Arctic Grey/1.41Kg), 82KT00BXIN</p>
    </div>

    <div class="container" id="container">
        <!-- Main images -->
        <div class="holder">
            <div class="slides"><img src="{% static 'images/laptop/1.jpg' %}"></div>
            <div class="slides"><img src="{% static 'images/laptop/2.jpg' %}"></div>
            <div class="slides"><img src="{% static 'images/laptop/3.jpg' %}"></div>
            <div class="slides"><img src="{% static 'images/laptop/4.jpg' %}"></div>
            <div class="slides"><img src="{% static 'images/laptop/5.jpg' %}"></div>
            <div class="slides"><img src="{% static 'images/laptop/6.jpg' %}"></div>
            <div class="slides"><img src="{% static 'images/laptop/7.jpg' %}"></div>
            <div class="slides"><img src="{% static 'images/laptop/8.jpg' %}"></div>
            <div class="slides"><img src="{% static 'images/laptop/9.jpg' %}"></div>
        </div>
      
        <div class="prevContainer"><a class="prev" onclick="plusSlides(-1)">
            <svg viewBox="0 0 24 24">
                <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
            </svg>
        </a></div>
        <div class="nextContainer"><a class="next" onclick="plusSlides(1)">
            <svg viewBox="0 0 24 24">
                <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
            </svg>
        </a></div>
      
        <!-- Thumbnails in a row -->
        <div class="row">
            <div class="column"><img class="slide-thumbnail" src="{% static 'images/laptop/1.jpg' %}" onclick="currentSlide(1)"></div>
            <div class="column"><img class="slide-thumbnail" src="{% static 'images/laptop/2.jpg' %}" onclick="currentSlide(2)"></div>
            <div class="column"><img class="slide-thumbnail" src="{% static 'images/laptop/3.jpg' %}" onclick="currentSlide(3)"></div>
            <div class="column"><img class="slide-thumbnail" src="{% static 'images/laptop/4.jpg' %}" onclick="currentSlide(4)"></div>
            <div class="column"><img class="slide-thumbnail" src="{% static 'images/laptop/5.jpg' %}" onclick="currentSlide(5)"></div>    
            <div class="column"><img class="slide-thumbnail" src="{% static 'images/laptop/6.jpg' %}" onclick="currentSlide(6)"></div>
            <div class="column"><img class="slide-thumbnail" src="{% static 'images/laptop/7.jpg' %}" onclick="currentSlide(7)"></div>
            <div class="column"><img class="slide-thumbnail" src="{% static 'images/laptop/8.jpg' %}" onclick="currentSlide(8)"></div>
            <div class="column"><img class="slide-thumbnail" src="{% static 'images/laptop/9.jpg' %}" onclick="currentSlide(9)"></div>
        </div>

        <!-- Finance Section -->
        <table style="width: 100%; margin-top: 50px;">
            <tr>
                <td style="width: 50%;">
                    <table>
                        <tr>
                            <td>
                                <p style="color: cadetblue; margin: 0px; font-weight: bold;">Visit the Lenovo Store</p>
                                <p style="color: cadetblue; font-size: 14px;">
                                    <img src="{% static 'images/star.jpg' %}" id="star_img">    118 ratings | 54 answered questions
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="float: right;">M.R.P.:</td>
                            <td><strike>₹71,290.00</strike></td>
                        </tr>
                        <tr>
                            <td style="float: right;">Price:</td>
                            <td style="color: #B12704 !important;">₹51,990.00</td>
                        </tr>
                        <tr>
                            <td>You Save:</td>
                            <td style="color: #B12704 !important;">₹19,300.00 (27%)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Inclusive of all taxes</td>
                        </tr>
                    </table>
                    <p style="color: cadetblue;">Free Delivery: <b style="color: black;">Friday Sep17</b> Details</p>
                    <p style="font-size: 12px;"><b>EMI</b> starts at ₹2,447. No Cost EMI available <text style="color: cadetblue;">EMI options</text></p>
                </td>
                <td style="width: 50%;" valign="top">
                    <table id="table_style">
                        <tr>
                            <td><text style="color: #B12704;">Save Extra</text> with 4 offers</td>
                        </tr>
                        <tr>
                            <td><text style="color: #B12704;">No Cost EMI:</text> Avail No Cost EMI on select cards for orders above ₹3000 | <text style="color: cadetblue;">Details</text></td>
                        </tr>
                        <tr>
                            <td><text style="color: #B12704;">Bank Offer (3):</text> Flat Rs 3000 Instant Discount with SBI Credit Cards with purchases above Rs 1,00,0…| <text style="color: cadetblue;">See All</text></td>
                        </tr>
                        <tr>
                            <td>∨ <text style="color: cadetblue;">See 2 more</text></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
  
    <div style="margin-top: 4em;">
        <div class="container" style="margin-left: 30px; float: left;" id="div">
            &nbsp;
        </div>

        <!-- Stock Section -->
        <div class="container" style="width: 30%; float: left; margin-left: 10px;">
            <table>
                <p style="color: green; font-size: 20px;">In Stock</p>
                <p>Sold by<text style="color: cadetblue;"> Appario Retail Private Ltd </text><text style="color: black;">and</text> <text style="color: cadetblue;"> Fulfilled by Amazon.</text></p>
                <p><text style="color: cadetblue;">New (2) from</text> <text style="color: #B12704;"> ₹51,990.00</text> <b>FREE Delivery.</b></p>
                <tr>
                    <td style="font-weight: bold;">Series</td>
                    <td>IdeaPad 3</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Brand</td>
                    <td>Lenovo</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Specific Uses For Product</td>
                    <td>Personal, Business</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Screen Size</td>
                    <td>14 Inches</td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Operating System</td>
                    <td>Windows 10 Home</td>
                </tr>	
            </table>
            <hr id="hr_tag">
            <p  style="font-size: 15px; font-weight: bold;">About this item</p>
            <ul>
                <li>Processor: 5th Gen AMD Ryzen 5 5500U | Speed: 2.1 GHz (Base) - 4.0 GHz (Max) | 6 Cores | 8MB Cache</li>
                <li>OS: Pre-Loaded Windows 10 Home with Lifetime Validity</li>
                <li>Pre-Installed: MS Office Home and Student 2019</li>
                <li>Memory and Storage: 8GB RAM DDR4, Upgradable up to 12GB | 512 GB SSD</li>
                <li>Display: 14" FHD (1920x1080) | Brightness : 300nits | IPS Technology | 45% NTSC | Anti-Glare</li>
            </ul>
            <p>› <text style="color: cadetblue;">See more product details</text></p>
            <p style="color: cadetblue;">Compare with similar items</p>
        </div>

        <!-- Sticky Price Section -->
        <div id="sticky-anchor"></div>
        <div class="container" id="sticky" style="width: 35%; float: right;">
            <p style="text-align: center;"><text style="color: cadetblue;">Share</text> <img id="share_img" src="{% static 'images/mail.png' %}" alt="mail"> <img id="share_img" src="{% static 'images/facebook.png' %}" alt="fb"> <img id="share_img" src="{% static 'images/twitter.png' %}" alt="twitter"> <img id="share_img" src="{% static 'images/pinterest.png' %}" alt="pinterest"></p>
            <table align="center" id="table_style" >
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                With Exchange
                                <p style=" color: #B12704;">Up to ₹18,250.00 off</p>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Without Exchange
                                <p style=" color: #B12704;">Up to ₹51,990.00 <strike style="color: black;">₹71,290.00</strike></p>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b>Add a Protection Plan:</b></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                <text style="color: cadetblue;">2 Year Extended Warranty</text>
                                for <text style="color: #B12704;">₹2,499.00</text>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Quantity: 
                        <select id="selectNumber">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <button class="btn btn-warning warning_cart">Add to Cart</button><br>
                        <button class="btn btn_buy">Buy Now</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="color: cadetblue;"><img src="{% static 'images/lock.png' %}" alt="lock"> Secure transaction</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                <text style="color: cadetblue;">Add gift option</text>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="color: cadetblue;"><img src="{% static 'images/pin2.png' %}" alt="lock" id="pin2"> Select delivery location</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div id="qst">
        <hr id="hr_tag">
        <!-- Question -->
        <div class="container">
            <h2><b>Have a question?</b></h2>
            <p>Find answers in product info, Q&As, reviews</p>
            <div class="input-group has-search"  style="width: 30%; float: left;">
                <span class="bi bi-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>

        <!-- Manufacturer Info -->
        <div class="container" id="brand_desc">
            <hr id="hr_tag">
            <h2>From the manufacturer</h2>
            <table id="">
                <tr>
                    <td colspan="3">
                        <img src="{% static 'images/laptop/m1.jpg' %}" alt="m1" id="img_size">
                    </td>
                </tr>
                <tr>
                    <td id="td_desc1">
                        <img src="{% static 'images/laptop/m2.png' %}" alt="m2">
                        <p id="desc"><text style="font-size: 20px;">As light as light can get</text><br> At 19.9mm and just 1.41kg the Ideapad Slim 3 is the thinnest in its category and it's light enough to carry everywhere. And the 4-Sided Narrow Bezels on the 14” FHD display is sure to give you more for less.</p>
                    </td>
                    <td id="td_desc1">
                        <img src="{% static 'images/laptop/m3.png' %}" alt="m3">
                        <p id="desc"><text style="font-size: 20px;">Pedigree of Performance</text><br> With an AMD Ryzen 5 Processor, find a laptop that truly can keep up with your needs and more! It also comes with an option of NVIDIA MX-450graphics that are sure to do some serious damage on the latest gaming titles.</p>
                    </td>
                    <td id="td_desc1">&nbsp;</td>
                </tr>
                <tr>
                    <td id="td_desc2">
                        <img src="{% static 'images/laptop/m4.png' %}" alt="m4">
                        <p id="desc"><text style="font-size: 20px;">Keep going on and on and on</text><br> With Lenovo’s Rapid Charge Technology, pace through all your tasks without being burdened by your charging cable and when you do need to charge, go from 0 to 80 within 30 minutes. Charge in one go and sit back rest assured to have a battery life of up to 6 hours after 1 single charge from the 3-cell 45Wh battery</p>
                    </td>
                    <td id="td_desc2">
                        <img src="{% static 'images/laptop/m5.png' %}" alt="m5">
                        <p id="desc"><text style="font-size: 20px;">Stay Connected with Every Device</text><br> The IdeaPad features a host of ports including USB-C to always stay connected no matter the device. Additionally, it’s equipped with 1 USB 3.2 Gen 1, 1 HDMI, 1 USB 2, 1 Card Reader Slot along with 1 3.5 mm headphone/microphone jack, so never have to worry about any other adaptors.</p>
                    </td>
                    <td id="td_desc2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <br><br>
                        <img src="{% static 'images/laptop/m6.jpg' %}" alt="m6" id="img_size">
                    </td>
                </tr>
            </table>
        </div>

        <!-- Product Info -->
        <div class="container" id="brand_desc">
            <hr id="hr_tag">
            <h3 style="color: #B12704;">Product information</h3>
            <div>
                <div style="width: 47.5%; float: left;">
                    <table>
                        <h2>Technical Details</h2>
                        <hr style="border: 1px solid;">
                        <tr id="bottom_border">
                            <td id="right_border">Brand</td>
                            <td>Lenovo</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Manufacturer</td>
                            <td>
                                <p>
                                    Lenovo, One of the below: Hefei Bitland Information Technology Co.,Ltd - No.4088 Jiuxiu Road National Hefei economic & technology development area Hefei Anhui China LCFC（Hefei) Electronics Technology Co., Ltd. - NO.1-3188,YUNGU ROAD, HEFEI EXPORT PROCESSING ZONE. ANHUI PROVINCE,CHINA  Tech-Com(Shanghai) Computer Co Ltd - No.6 Ln.58,San-Zhuang Rd., Songjiang EPZ ShangHai, China Wistron InfoComm (Kunshan) Co.Ltd - 168# First Avenue, Kunshan Export Processing Zone, Kunshan, Jiangsu, China Compal information technology (kunshan) CO., LTD. - Address: No. 58, the 1st street, Kunshan Export Processing Zone, Jiangsu, P.R.O.C. CHINA Kunshan Hichain storage Co. Ltd - No. 88 Xinxiang Road  Avenue Kunshan CBZ Wujiang Hichain warehousing LTD - No.2088 Pangjin road, Wujiang economic development area,  Jiangsu, China 
                                </p>
                            </td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Series</td>
                            <td> ‎IdeaPad 3</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Colour</td>
                            <td>‎ARCTIC_GREY</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Form Factor</td>
                            <td>‎Ultra-Portable</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Item Height</td>
                            <td>20 Millimeters</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Item Width</td>
                            <td>21.6 Centimeters</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Standing screen display size</td>
                            <td>14 Inches</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Screen Resolution</td>
                            <td>1927 x 1080 pixels</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Resolution</td>
                            <td>1920 x 1080 Pixels</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Product Dimensions</td>
                            <td>32.4 x 21.6 x 2 cm; 1.41 Kilograms</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Batteries</td>
                            <td>1 Lithium Polymer batteries required. (included)</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Item model number</td>
                            <td>‎82KT00BXIN</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border"> Processor Brand</td>
                            <td>‎AMD</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Processor Type</td>
                            <td>Ryzen 5</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Processor Speed</td>
                            <td>2.1 GHz</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Processor Count</td>
                            <td>6</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">RAM Size</td>
                            <td>8 GB</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Memory Technology</td>
                            <td>‎DDR4</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Computer Memory Type</td>
                            <td> ‎DDR4 SDRAM</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Maximum Memory Supported</td>
                            <td>‎12 GB</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Hard Disk Description</td>
                            <td>‎SSD</td>
                        </tr>
                    </table>
                    <br><br>
                </div>
                <div style="width: 5%; float: right;"></div>
                <div style="width: 47.5%;">
                    <table>
                        <h2>Additional Informations</h2>
                        <hr style="border: 1px solid;">
                        <tr id="bottom_border">
                            <td id="right_border">ASIN</td>
                            <td>B096SKFBCF</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Customer Reviews</td>
                            <td>4.5 out of 5 stars </td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Best Sellers Rank </td>
                            <td>
                                <p>
                                    #524 in Computers & Accessories (<text style="color: cadetblue;">See Top 100 in Computers & Accessories</text>) #17 in <text style="color: cadetblue;">Laptops</text> 
                                </p>
                            </td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Date First Available </td>
                            <td>7 June 2021 </td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Packer</td>
                            <td>
                                <p>
                                    One of the below: Hefei Bitland Information Technology Co.,Ltd - No.4088 Jiuxiu Road National Hefei economic & technology development area Hefei Anhui China LCFC（Hefei) Electronics Technology Co., Ltd. - NO.1-3188,YUNGU ROAD, HEFEI EXPORT PROCESSING ZONE. ANHUI PROVINCE,CHINA  Tech-Com(Shanghai) Computer Co Ltd - No.6 Ln.58,San-Zhuang Rd., Songjiang EPZ ShangHai, China Wistron InfoComm (Kunshan) Co.Ltd - 168# First Avenue, Kunshan Export Processing Zone, Kunshan, Jiangsu, China Compal information technology (kunshan) CO., LTD. - Address: No. 58, the 1st street, Kunshan Export Processing Zone, Jiangsu, P.R.O.C. CHINA Kunshan Hichain storage Co. Ltd - No. 88 Xinxiang Road  Avenue Kunshan CBZ Wujiang Hichain warehousing LTD - No.2088 Pangjin road, Wujiang economic development area,  Jiangsu, China 
                                </p>
                            </td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Importer</td>
                            <td>
                                <p>
                                    Lenovo (India) Private Limited, RBD Icon, Level 2, Doddenakundi Village, Marathahalli Outer Ring Road, K. R. Puram Hobli, Bangalore 560037, Karnataka, India 
                                </p>
                            </td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Item Dimensions LxWxH</td>
                            <td>32.4 x 21.6 x 2 Centimeters </td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Net Quantity</td>
                            <td>1 Piece</td>
                        </tr>
                        <tr id="bottom_border">
                            <td id="right_border">Generic Name</td>
                            <td>Laptop</td>
                        </tr>
                    </table>
                    <br><br><br><br>
                </div>
            </div>
        </div>
    </div>

    <script>
        function sticky_relocate() {
            var window_top = $(window).scrollTop();
            var div_top = $('#sticky-anchor').offset().top;
            if (window_top > div_top) {
                $('#sticky').addClass('stick');
                $('#table_style').addClass('bgstyle');
            }
            else {
                $('#sticky').removeClass('stick');
                $('#table_style').removeClass('bgstyle');
                $('#sticky').addClass('nostick');
            }
        }
            
        $(function() {
            $(window).scroll(sticky_relocate);
            sticky_relocate();
        });
    </script>
    <script src="{% static 'js/slider.js' %}"></script>
</body>
</html>


